{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Profile{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/main_styles.css' %}?v=2">
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    {% include 'menu.html' %}

    <div class="main-page">
        <div class="main-page-content">
            <div class="sidebar">
                <div class="box">
                    <ul>
                        <li><a href="{% url 'profile' %}">My Profile</a></li>   
                        <li><a href="{% url 'subjects' %}">My Subjects</a></li>   
                        <li><a href="{% url 'all_subjects' %}"> All Subjects</a></li>   
                    </ul>
                </div>
            </div>
            <div class="content">
                    <h2> {{ subject.name }}</h2>
                    <p>Subject ID: {{ subject.id }}</p>
                    <p>Lecturer: {{ subject.lecturer }}</p>
                    <p>Description: {{ subject.description }}</p>
                    <p>Students: {{ subject.student.count }}</p>
                    {% if subject.student.count > 0 %}
                    <table>
                        <thead>
                          <tr>
                            <th>Id</th>
                            <th>Name</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for student in subject.student.all %}
                            <tr>
                              <td> {{ student.id }} </td>
                              <td> {{ student }} </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
            </div>
        </div>
    </div>
</body>
</html>
